{% load static %}

<div
    id="modalPressure"
    class="fixed inset-0 flex items-center justify-center z-50 hidden backdrop-blur-sm bg-white/30"
>
    <div
        class="bg-white p-6 rounded-2xl shadow-xl w-full max-w-md relative"
    >
        <button
            id="closeModalPressureBtn"
            class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 text-xl"
        >
            ✕
        </button>

        <h2 class="text-xl font-semibold mb-4">Внести замеры давления</h2>
        <form method="post" action="{% url 'pressure' %}" id="formPressure">
            {% csrf_token %}
            <div>
                <label for="systolic">Систолическое (верхнее)</label>
                <input
                    type="number"
                    id="systolic"
                    name="systolic"
                    value="120"
                    min="0"
                    max="250"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                />
            </div>
            <div class="mt-2">
                <label for="diastolic">Диастолическое (нижнее)</label>
                <input
                    type="number"
                    id="diastolic"
                    name="diastolic"
                    value="80"
                    min="0"
                    max="250"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                />
            </div>

            <div id="pressureError" class="bg-red-700 text-white p-3 mt-2 rounded-lg hidden"></div>
            <div id="pressureSuccess" class="bg-green-700 text-white p-3 mt-2 rounded-lg hidden"></div>

            <div class="mt-5">
                <input type="submit" value="Сохранить" class="w-full bg-blue-700 text-white px-4 py-2 rounded-lg shadow-md hover:bg-green-700 cursor-pointer transition"/>
            </div>
        </form>
    </div>
    <script src="{% static 'cabinet/modal_forms/pressure_modal.js' %}" type="module"></script>
</div>
