<div
    id="modalTemperature"
    class="fixed inset-0 flex items-center justify-center z-50 hidden backdrop-blur-sm bg-white/30"
>
    <div
        class="bg-white p-6 rounded-2xl shadow-xl w-full max-w-md relative"
    >
        <button
            id="closeModalTemperatureBtn"
            class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 text-xl"
        >
            ✕
        </button>

        <h2 class="text-xl font-semibold mb-4">Внести замеры температуры</h2>
        <form method="post">
            <div>
                <label for="diastolic">Температура тела</label>
                <input
                    type="number"
                    id="diastolic"
                    name="diastolic"
                    value="36.6"
                    step="0.1"
                    min="30"
                    max="45"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
                />
            </div>
            <div class="mt-5">
                <input type="submit" value="Сохранить" class="w-full bg-blue-700 text-white px-4 py-2 rounded-lg shadow-md hover:bg-green-700 cursor-pointer transition"/>
            </div>
        </form>
    </div>
</div>
