{% extends 'data_tracking/data_tracking.html' %}

{% load static %}

{% block title %}
    Отчет за {{ monthly_log.get_month_display }} {{ monthly_log.year }}
{% endblock %}

{% block content %}
<span id="monthlyLogId">{{ monthly_log.id }}</span>
<div class="min-h-screen bg-gray-100 flex flex-col">
    <header class="bg-white shadow p-4 flex items-center justify-between md:hidden">
        <h1 class="text-xl font-bold">Месячные отчеты</h1>
        <button id="menuToggle" class="text-gray-600 focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </header>

    <div class="flex flex-1 overflow-hidden relative">
        <div id="overlay" class="fixed inset-0 bg-opacity-50 z-30 hidden md:hidden backdrop-blur-sm bg-white/30"></div>

        <aside id="sidebar" class="bg-white w-64 p-4 z-100 border-r border-gray-200 space-y-4 transform -translate-x-full md:translate-x-0 fixed top-0 left-0 h-full z-40 transition-transform duration-300 ease-in-out md:relative md:h-auto md:w-64 md:border-0">
            <h2 class="text-lg font-semibold mb-4 mt-16 md:mt-0">Отчеты</h2>
            <nav class="space-y-2">
                {% for link_to_log in monthly_logs %}
                <a
                    href="{% url 'monthly_log' link_to_log.pk %}"
                    class="
                        block
                        px-4
                        py-2
                        rounded-lg
                        text-gray-700
                        {% if link_to_log.pk == monthly_log.pk %}
                        text-white
                        bg-blue-700
                        {% else %}
                        hover:bg-blue-100
                        {% endif %}
                        transition
                    "
                >{{ link_to_log.get_month_display }} {{ link_to_log.year }}
                </a>
                {% endfor %}
                {% if monthly_logs.count >= 9 %}
                    <a
                        href=""
                        class="
                            block
                            px-4
                            py-2
                            rounded-lg
                            text-blue-700
                            hover:underline
                        "
                    >Посмотреть больше
                    </a>
                {% endif %}
            </nav>
        </aside>

        <main class="flex-1 p-6 overflow-y-auto z-10">
            <h1 class="text-2xl font-bold mb-6">{{ monthly_log.get_month_display }} {{ monthly_log.year }}</h1>

            <div class="bg-white p-6 rounded-lg shadow">
                <h2 class="text-xl font-semibold mb-4">Основная информация</h2>
                <p class="text-gray-700 mb-4">
                    Здесь будет отображаться сводка за выбранный месяц: динамика веса, глюкозы, давления и другая важная информация.
                </p>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div class="bg-gray-50 p-4 rounded-lg">
                        <h3 class="text-lg font-medium mb-2">Изменение веса за месяц</h3>
                        {% if weight_in_month_start and weight_in_month_end %}
                            <p class="text-gray-700 text-xl">
                                    {{ weight_in_month_start }} кг → {{ weight_in_month_end }} кг
                            </p>
                        {% else %}
                            <p class="text-gray-500 text-xl">
                                Не были заполнены нужные недельные отчеты
                            </p>
                        {% endif %}
                    </div>
                    <div class="bg-gray-50 p-4 rounded-lg">
                        <h3 class="text-lg font-medium mb-2">ИМТ (на конец месяца)</h3>
                        <p class="text-gray-700 text-xl">{{ last_bmi }}</p>
                    </div>
                    <div class="bg-gray-50 p-4 rounded-lg">
                        <h3 class="text-lg font-medium mb-2">Гемоглобин</h3>
                        <p class="text-gray-700 text-xl">
                            {% if monthly_log.hemoglobin %}
                                {{ monthly_log.hemoglobin }} г/л
                            {% else %}
                                Не заполнено
                            {% endif %}
                        </p>
                    </div>
                    <div class="bg-gray-50 p-4 rounded-lg">
                        <h3 class="text-lg font-medium mb-2">Холестерин</h3>
                        <p class="text-gray-700 text-xl">
                            {% if monthly_log.cholesterol %}
                                {{ monthly_log.cholesterol }} ммоль/л
                            {% else %}
                                Не заполнено
                            {% endif %}
                        </p>
                    </div>
                    <div class="bg-gray-50 p-4 rounded-lg">
                        <h3 class="text-lg font-medium mb-2">Микроальбуминурия</h3>
                        <p class="text-gray-700 text-xl">{{ monthly_log.microalbuminuria }} мг/л</p>
                    </div>
                    <div class="bg-gray-50 p-4 rounded-lg">
                        <h3 class="text-lg font-medium mb-2">Липидный профиль</h3>
                        <p class="text-gray-700 text-xl">{{ monthly_log.lipid_profile|default:"Не заполнено" }}</p>
                    </div>
                    <div class="bg-gray-50 p-4 rounded-lg">
                        <h3 class="text-lg font-medium mb-2">Средний уровень кетоновых тел</h3>
                        <p class="text-gray-700 text-xl">{{ avg_ketones.ketones__avg|floatformat:2 }} ммоль/л</p>
                    </div>
                    <div class="bg-gray-50 p-4 rounded-lg">
                        <h3 class="text-lg font-medium mb-2">Средние калории</h3>
                        <p class="text-gray-700 text-xl">{{ avg_calories.calories_count__avg|floatformat:2 }} ккал</p>
                    </div>
                    <div class="bg-gray-50 p-4 rounded-lg">
                        <h3 class="text-lg font-medium mb-2">Чаще всего вы испытывали</h3>
                        <p class="
                            {{ most_common_health.color }}
                            inline-block px-3 py-1 rounded-full text-lg font-medium
                        ">
                            {{ most_common_health.name }}
                        </p>
                    </div>
                </div>

                <div class="mt-10 grid grid-cols-1 md:grid-cols-4 gap-8">
                    <div class="bg-gray-50 p-4 rounded-lg md:col-span-1">
                        <h3 class="text-lg font-medium mb-2">Средние БЖУ за месяц</h3>
                        <div class="w-64">
                            <canvas id="bjuPieChart"></canvas>
                        </div>
                    </div>
                    <div class="bg-gray-50 p-4 rounded-lg md:col-span-3">
                        <h3 class="text-lg font-medium mb-2">Состояния (сонливость, усталость и т.п.)</h3>
                        <div class="h-full md:h-64">
                            <canvas id="stateBarChart"></canvas>
                        </div>
                    </div>

                    <div class="bg-gray-50 p-4 rounded-lg col-span-1 md:col-span-4">
                        <h3 class="text-lg font-medium mb-2">Уровень глюкозы за месяц</h3>
                        <div class="overflow-x-auto">
                            <div class="min-w-[600px] h-64 md:h-full">
                                <canvas id="glucoseLineChart" class="w-full h-full"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="bg-gray-50 p-4 rounded-lg col-span-1 md:col-span-4">
                        <h3 class="text-lg font-medium mb-2">Давление за месяц</h3>
                        <div class="overflow-x-auto">
                            <div class="min-w-[600px] h-64 md:h-full">
                                <canvas id="pressureLineChart" class="w-full h-full"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="bg-gray-50 p-4 rounded-lg md:col-span-4">
                        <h3 class="text-lg font-medium mb-2">Температурные отклонения</h3>
                        <p
                            class="
                                {% if temperature_deviations_count.deviations_count > 5 %}
                                text-red-700
                                {% else %}
                                text-green-600
                                {% endif %}
                                text-xl
                            "
                        >
                            {{ temperature_deviations_count.deviations_count }}
                        </p>
                    </div>

                    <a
                        href=""
                        class="px-4 text-center w-full md:w-auto py-2 bg-green-700 text-white rounded-lg shadow-md hover:bg-green-900 transition">
                        Экспорт в PDF
                    </a>
                    <a
                        href=""
                        class="px-4 text-center w-full md:w-auto py-2 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-900 transition">
                        Экспорт в Excel
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>


<script src="{% static 'monthly_log_list.js' %}" type="module"></script>
{% endblock %}