{% extends 'base.html' %}

{% block title %}
	Сменить пароль
{% endblock %}

{% block content %}
<div id="passwordModal" class="my-10 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <h2 class="text-xl font-bold text-gray-700 mb-4">Сменить пароль</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700">Текущий пароль</label>
                <input type="password" name="old_password" class="w-full border rounded-lg p-2" required>
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700">Новый пароль</label>
                <input type="password" name="new_password1" class="w-full border rounded-lg p-2" required>
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700">Подтверждение пароля</label>
                <input type="password" name="new_password2" class="w-full border rounded-lg p-2" required>
            </div>
            <div>
                {{ form.errors }}
            </div>
            <div class="flex justify-between space-x-2">
                <button type="submit" class="px-4 py-2 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-700">Сохранить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
