{% extends 'base.html' %}
{% load static %}

{% block title %}
	Личный кабинет
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'cabinet/cabinet.js' %}"></script>
{% endblock %}

{% block content %}
<div class="hidden max-w-2xl mx-auto my-4 p-6 bg-red-700 font-bold shadow-lg rounded-lg text-white" id="notifyDailyLogWindow">
    <p>
        <span id="notifyDailyLogMessage"></span>
        <a href="{% url 'daily_log' %}" class="underline font-light">Заполнить</a>
    </p>
</div>
<div class="max-w-2xl mx-auto my-4 p-6 bg-white shadow-lg rounded-lg">
    <div class="flex items-center space-x-4">
        <div class="w-24 h-24 rounded overflow-hidden shadow rounded-full border-2">
            <img
            {% if cabinet.image %}
            src="{{ cabinet.image.url }}"
            {% endif %}
            alt="Профиль" class="w-full h-full object-cover"
        >
        </div>

        <div>
            <h2 class="text-xl font-bold text-primary">@<span id="userName">{{ request.user.username }}</span></h2>
            <p class="text-gray-600">{{ cabinet.fio }}</p>
            <p class="text-gray-600">{{ request.user.email }}</p>
            <p class="text-gray-600">+{{ cabinet.phone_number }}</p>
        </div>
    </div>

    <div class="mt-6 border-t pt-4 text-gray-700">
        <p><strong>Тип диабета:</strong> <span id="diabetesType">{{ cabinet.diabetes_type }}</span></p>
        <p><strong>Тип лечения:</strong> <span id="treatmentType">{{ cabinet.treatment_type|default:"Не указано" }}</span></p>
        <p><strong>Дата рождения:</strong> <span>{{ cabinet.birth_date }}</span></p>
        <p><strong>Диагноз поставлен</strong> <span>{{ cabinet.diagnosis_date|default:"Не указано" }}</span></p>
        <p><strong>Пол:</strong> <span id="gender">{{ cabinet.gender }}</span></p>
        <p><strong>Дата присоединения</strong> <span id="gender">{{ cabinet.created_at }}</span></p>
    </div>

    <div class="mt-6 flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-4 sm:space-y-0">
        <div class="flex flex-col sm:flex-row sm:space-x-4 space-y-4 sm:space-y-0">
            <a
                href="{% url 'cabinet_update' %}"
                class="px-4 py-2 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-900 transition">
                Редактировать профиль
            </a>
            <a
                href="{% url 'change_password' %}"
                class="px-4 py-2 bg-gray-700 text-white rounded-lg shadow-md hover:bg-red-700 transition">
                Сменить пароль
            </a>
        </div>
        <form action="{% url 'logout' %}" method="post" class="flex-end" id="logoutForm">
            {% csrf_token %}
            <input type="submit" value="Выйти" class="px-4 py-2 bg-red-700 text-white cursor-pointer rounded-lg shadow-md hover:bg-red-700">
        </form>
    </div>
</div>
<div id="success-toast" class="fixed bottom-5 right-5 bg-green-500 text-white px-4 py-2 rounded-lg shadow-lg opacity-0 transition-opacity duration-500 hidden"></div>

<div class="max-w-2xl mx-auto my-4 p-6 bg-white shadow-lg rounded-lg">
    <div class="flex flex-wrap items-center space-y-2 justify-between">
        <h2 class="text-xl font-bold">Внести данные</h2>
        <div class="flex text-center flex-wrap items-center justify-between md:space-x-4 space-y-2 md:space-y-0">
            <button
                {% if not daily_log %}disabled style="background: gray; cursor: not-allowed"{% endif %}
                id="pressureOpenModalBtn"
                class="px-4 w-full md:w-auto py-2 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-900 transition cursor-pointer">
                Давление
            </button>
            <button
                {% if not daily_log %}disabled style="background: gray; cursor: not-allowed"{% endif %}
                id="glucoseOpenModalBtn"
                class="px-4 w-full md:w-auto py-2 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-900 transition cursor-pointer">
                Глюкоза
            </button>
            <button
                {% if not daily_log %}disabled style="background: gray; cursor: not-allowed"{% endif %}
                id="temperatureOpenModalBtn"
                class="px-4 w-full md:w-auto py-2 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-900 transition cursor-pointer">
                Температура
            </button>
        </div>
    </div>
</div>

{% include 'cabinet/modal_forms/glucose.html' %}
{% include 'cabinet/modal_forms/pressure.html' %}
{% include 'cabinet/modal_forms/temperature.html' %}

{% if not daily_log %}
	<section class="max-w-2xl mx-auto my-4 p-6 bg-white shadow-lg rounded-lg flex flex-col gap-10 items-center">
        <h2 class="text-lg font-semibold text-gray-500 mb-2 text-center">Дневной отчет за сегодня еще не создан. Приносим свои извинения</h2>
    </section>
{% else %}
<section class="max-w-2xl mx-auto my-4 p-6 bg-white shadow-lg rounded-lg flex flex-col gap-10 items-center">
    {% if glucose_per_day_count < 2 and pressure_per_day_count < 2 and temperature_per_day_count < 2 %}
        <h2 class="text-lg font-semibold text-gray-500 mb-2 text-center">Сегодня было внесено недостаточно данных для построения графиков(</h2>
    {% else %}
        <div class="w-full">
            <h2 class="text-lg font-semibold mb-2 text-center">Уровень глюкозы</h2>
            {% if glucose_per_day_count < 2 %}
            <h2 class="text-lg font-semibold text-gray-500 mb-2 text-center">Сегодня было внесено недостаточно данных для построения графиков(</h2>
            {% else %}
                <div class="relative">
                    <div id="glucoseChart-loader" class="absolute inset-0 flex items-center justify-center bg-white/70 backdrop-blur-sm z-10">
                        <div class="w-6 h-6 bg-blue-500 rounded-full animate-ping"></div>
                    </div>
                    <canvas id="glucoseChart" height="200"></canvas>
                </div>
                <script src="{% static 'cabinet/daily_log/glucose_plot.js' %}" type="module"></script>
            {% endif %}
        </div>

        <div class="w-full">
            <h2 class="text-lg font-semibold mb-2 text-center">Температура тела</h2>
            {% if temperature_per_day_count < 2 %}
            <h2 class="text-lg font-semibold text-gray-500 mb-2 text-center">Сегодня было внесено недостаточно данных для построения графиков(</h2>
            {% else %}
            <div class="relative">
                <div id="tempChart-loader" class="absolute inset-0 flex items-center justify-center bg-white/70 backdrop-blur-sm z-10">
                    <div class="w-6 h-6 bg-blue-500 rounded-full animate-ping"></div>
                </div>
                <canvas id="tempChart" height="200"></canvas>
            </div>
            <script src="{% static 'cabinet/daily_log/temperature_plot.js' %}" type="module"></script>
            {% endif %}
        </div>

        <div class="w-full">
            <h2 class="text-lg font-semibold mb-2 text-center">Давление</h2>
            {% if pressure_per_day_count < 2 %}
            <h2 class="text-lg font-semibold text-gray-500 mb-2 text-center">Сегодня было внесено недостаточно данных для построения графиков(</h2>
            {% else %}
            <div class="relative">
                <div id="pressureChart-loader" class="absolute inset-0 flex items-center justify-center bg-white/70 backdrop-blur-sm z-10">
                    <div class="w-6 h-6 bg-blue-500 rounded-full animate-ping"></div>
                </div>
                <canvas id="pressureChart" height="200"></canvas>
            </div>
                <script src="{% static 'cabinet/daily_log/pressure_plot.js' %}" type="module"></script>
            {% endif %}
        </div>
    {% endif %}
    <div class="w-full text-sm leading-relaxed space-y-2">
        <table class="min-w-full text-sm text-left text-gray-700 border border-gray-200 rounded-lg">
            <tbody class="divide-y divide-gray-200">
                <tr>
                <th class="p-3 font-semibold whitespace-nowrap bg-gray-50 w-1/2">Калории</th>
                <td class="p-3">{{ daily_log.calories_count }}</td>
                </tr>
                <tr>
                    <th class="p-3 font-semibold whitespace-nowrap bg-gray-50">БЖУ</th>
                    <td class="p-3">
                    {{ daily_log.proteins_count }} /
                    {{ daily_log.fats_count }} /
                    {{ daily_log.carbs_count }}
                    </td>
                </tr>
                {% if daily_log.physical_activity %}
                    <tr>
                        <td colspan="2" class="p-3 font-semibold whitespace-nowrap bg-gray-50">Физическая активность</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="p-3">{{ daily_log.physical_activity }}</td>
                    </tr>
                {% endif %}
                {% if daily_log.additional_info %}
                    <tr>
                        <td colspan="2" class="p-3 font-semibold whitespace-nowrap bg-gray-50">Дополнительная информация</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="p-3">{{ daily_log.additional_info }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <a href="{% url 'daily_log' %}" class="text-primary hover:underline transition block py-2 md:py-0">
            Изменить дневной отчет
        </a>
    </div>
</section>
{% endif %}

{% if weekly_log %}
	{% include 'cabinet/weekly_logs/cabinet_weekly_log.html' %}
{% endif %}

<div class="max-w-2xl mx-auto my-4 p-6 bg-white shadow-lg rounded-lg">
    <div class="flex flex-wrap items-center justify-between md:space-x-4 space-y-2 md:space-y-0">
        <a
            href="{% url 'daily_log_list' %}"
            class="px-4 text-center w-full md:w-auto py-2 bg-green-700 text-white rounded-lg shadow-md hover:bg-green-900 transition">
            Ежедневные отчеты
        </a>
        <a
            href=""
            class="px-4 text-center w-full md:w-auto py-2 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-900 transition">
            Еженедельные отчеты
        </a>
        <a
            href=""
            class="px-4 text-center w-full md:w-auto py-2 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-900 transition">
            Ежемесячные отчеты
        </a>
    </div>
</div>
{% endblock %}